version: '3'
services:
  approval:
    build: .
    container_name: approval
    links:
      - redis
    ports:
      - "5018:5018"
    volumes:
      - /opt/scripts:/opt/scripts
      - /var/log/webhook:/var/log/webhook
      - /opt/sqlite/:/opt/sqlite/
  redis:
    restart: always
    image: redis:5.0.2
    ports:
      - "6379:6379"
    volumes:
      - /opt/redisdata:/data
